<div class="row">
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Ny genstand til lageret</nb-card-header>
        <nb-card-body>
          <div class="form-group">
            <label for="placement">Genstandens placering</label>
            <div class="input-group">
              <input type="text" placeholder="Placering" class="form-control" [(ngModel)]="itemToAdd.placement"/>
            </div>
          </div><div class="form-group">
            <label for="amount">Mængde</label>
            <div class="input-group">
              <input type="number" placeholder="Mængde" class="form-control" [(ngModel)]="itemToAdd.amount"/>
            </div>
          </div>
          <div class="form-group">
            <label>Vælg skabelon</label>
            <select class="form-control btn btn-success dropdown-toggle" [(ngModel)]="templateToGet" (change)="getTemplateDetails()">
              <option *ngFor="let temp of templates" [ngValue]="temp">{{temp.name}}</option>
            </select>
          </div>

          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="item-checkbox">
            <label class="custom-control-label" for="item-checkbox">Er genstanden bestilt?</label>
          </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="created-checkbox" [(ngModel)]="showCreatedBy">
          <label class="custom-control-label" for="created-checkbox">Er genstanden fremstillet?</label>
        </div>
          <div class="form-group" *ngIf="showCreatedBy">
            <label for="madeBy">Lavet af</label>
            <div class="input-group">
              <input type="text" placeholder="Navn" class="form-control" [(ngModel)]="itemToAdd.createdBy"/>
            </div>
          </div>
          <div class="form-group">
            <label for="itemList">Genstandsliste</label>
            <div class="form-group">
              <ng-select
                [items]="items | async"
                [multiple]="true"
                [closeOnSelect]="false"
                [hideSelected]="true"
                bindLabel="template.name"
                placeholder="Vælg genstande"
                [(ngModel)]="selectedItemParts">               
              </ng-select>
              <small class="form-text">En liste af genstande der bruges til at fremstille denne genstand.
              </small>
            </div>
          </div>
          <button (click)="hej()">hej</button>
          <button (click)="addItem()">xD</button>
        </nb-card-body>
      </nb-card>
    </div>
  
    <div class="col-lg-6">
  
      <nb-card>
        <nb-card-header>Egenskaber der ligger på den valgte skabelon</nb-card-header>
        <nb-card-body>
          <div *ngIf="detailsReady">
            <div *ngFor="let prop of templateDetails.templateProperties; let i=index">
              {{prop.name}}
              <br>
              <br>
              <input type="text" placeholder="{{prop.name}}" class="form-control" [(ngModel)]="descriptionTextsToAdd[i]">
              <br>
            </div>
          </div>
        </nb-card-body>
      </nb-card> 
    </div>
  </div>
  