<div class="row">
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Ny genstand til lageret</nb-card-header>
        <nb-card-body>
          <div class="form-group">
            <label for="name">Navn på genstanden</label>
            <div class="input-group">
              <input type="text" placeholder="Navn" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label for="placement">Genstandens placering</label>
            <div class="input-group">
              <input type="text" placeholder="Placering" class="form-control"/>
            </div>
          </div><div class="form-group">
            <label for="amount">Mængde</label>
            <div class="input-group">
              <input type="text" placeholder="Mængde" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label>Vælg skabelon</label>
            <select class="form-control btn btn-success dropdown-toggle">
              <option>Skabelon 1</option>
              <option>Skabelon 2</option>
              <option>Skabelon 3</option>
            </select>
          </div>
          <div class="form-group">
            <label for="order">Oprindelsesordre</label>
            <div class="input-group">
              <input type="text" placeholder="Ordre" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label for="madeBy">Lavet af</label>
            <div class="input-group">
              <input type="text" placeholder="Navn" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label for="itemList">Liste af dele</label>
            <input type="text" placeholder="Genstandsliste" class="form-control" disabled/>
            <small class="form-text">En liste af genstande der blev anvendt til at fremstille denne genstand </small>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  
    <div class="col-lg-6">
  
      <nb-card>
        <nb-card-header>Egenskaber</nb-card-header>
        <nb-card-body>
          <div class="form-group">
            <label for="name">Malingsfarve</label>
            <div class="input-group">
              <input type="text" placeholder="Malingsfarve" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Behandling</label>
            <div class="input-group">
              <input type="text" placeholder="Behandling" class="form-control"/>
            </div>
          </div>
        </nb-card-body>
      </nb-card> 
    </div>
  </div>
  