<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        Rediger egenskab
        <div class="card-header">
          <div class="card-body">
            <div class="form-group">
              <label for="useredit"> Navn </label>
              <div class="input-group">
                <input
                  [(ngModel)]="TemplateProperty.name"
                  class="form-control"
                  id="TemplateProperty"
                  placeholder="Navn"
                  type="text"
                  value="{{ TemplateProperty?.name }}"
                />
              </div>

              <button (click)="Save()" class="btn btn-primary" type="button">
                Opdater
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
