<div class="card">
  <div class="card-header">Ny rolle</div>

  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col">
          <div
            class="input-group input-group-lg"
            style="margin-block-end: 3em; margin-block-start: 2em"
          >
            <div class="input-group-prepend">
              <span class="input-group-text">Rollenavn</span>
            </div>
            <input
              type="text"
              class="form-control"
              aria-label="Default"
              aria-describedby="inputGroup-sizing-default"
              style="border-width: 2px"
              [(ngModel)]="roleNameToAdd"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h1 style="text-align: center; margin-bottom: 1em">Adgangsniveau</h1>
        </div>
      </div>

      <div class="row">
        <div *ngFor="let role of userRoles" class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h3>
                {{ role.displayName }}
                <label
                  class="switch switch-lg switch-3d switch-primary"
                  style="float: right"
                >
                  <input
                    type="checkbox"
                    class="switch-input"
                    (change)="onSwitchChange(role, $event)"
                    aria-controls="toggleElement"
                  />
                  <span class="switch-slider"></span>
                </label>
              </h3>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <button style="font-size: 1.17em; line-height: 3em; padding-left: 2em; padding-right: 2em"
          class="btn btn-success btn-rectangle"
          (click)="addRole()"
        >
          Tilføj rolle
        </button>
      </div>
    </div>
  </div>
</div>
