<div *ngIf="isDataAvailable">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">

        <div class="card-header">
          <h5>{{itemTemplate.name}}
            <div *ngIf="this.authService.roleMatch(['ItemTemplates_Add'])" class="float-right">
              <button (click)="goToRevisionTemplate()" class="btn btn-secondary"> Revider</button>
            </div>
          </h5>
        </div>
        <div class="card-body">

          <div class="form-group">
            <label for="description">Beskrivelse</label>
            <div class="input-group-text">
              {{itemTemplate.description}}
            </div>
          </div>

          <div class="form-group">
            <label for="unitType">Mængdeenhed</label>
            <div class="input-group-text">
              {{itemTemplate.unitType.name}}
            </div>
          </div>

          <div class="form-group">
            <label for="created">Nedre grænse</label>
            <div class="input-group-text">
              {{itemTemplate.lowerLimit}}
            </div>
          </div>

          <div class="form-group">
            <label for="created">Oprettet</label>
            <div class="input-group-text">
              {{itemTemplate.created}}
            </div>
          </div>

          <div *ngIf="isRevisioned">
            <div class="form-group">
              <label for="revisionedFrom">Revideret fra</label>
              <div class="input-group">
                <button (click)="goToItemTemplateDetail(itemTemplate.revisionedFrom.id)" class="btn btn-outline-info">
                  <span class="glyphicon glyphicon-trash"></span> {{itemTemplate.revisionedFrom.name}}
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="card">
        <div class="card-header">Filer</div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th width="80%">Navn</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of itemTemplate.files">
              <td>{{item.fileName}}</td>
              <td>
                <button (click)="downloadFile(item)" class="btn btn-block btn-success" type="button">Download</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div *ngIf="itemTemplate.templateProperties.length != 0">
        <div class="card">
          <div class="card-header">Egenskaber</div>
          <div class="card-body">
            <table class="table">
              <thead>
              <tr>
                <th>Navn</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of itemTemplate.templateProperties">
                <td>{{item.name}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div *ngIf="itemTemplate.parts.length != 0">
        <div class="card">
          <div class="card-header">Dele</div>
          <div class="card-body">
            <table class="table">
              <thead>
              <tr>
                <th>Navn</th>
                <th>Mængde</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of itemTemplate.parts">
                <td>{{item.part.name}}</td>
                <td>{{item.amount}}</td>
                <td>
                  <button (click)="goToItemTemplateDetail(item.part.id)" class="btn btn-primary input-group-text">
                    Vis detaljer
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div *ngIf="itemTemplate.partOf.length !=0">
        <div class="card">
          <div class="card-header">Del af</div>
          <div class="card-body">
            <table class="table">
              <thead>
              <tr>
                <th>Navn</th>
                <th>Mængde</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of itemTemplate.partOf">
                <td>{{item.template.name}}</td>
                <td>{{item.amount}}</td>
                <td>
                  <button (click)="goToItemTemplateDetail(item.template.id)" class="btn btn-primary input-group-text">
                    Vis detaljer
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
