<div *ngIf="isDataAvailable">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <h5>{{itemTemplate.name}}</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="unitType">Unit type</label>
              <div class="input-group">
                <input type="text" readonly class="form-control-plaintext" id="unitType" value="{{unitTypeEnum}}">
              </div>
              
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
    </div>
  </div>
</div>