<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Ny skabelon</div>
      <div class="card-body">
        <div class="form-group">
          <label for="name">Navn på skabelonen</label>
          <div class="input-group">
            <input [(ngModel)]="templateToAdd && templateToAdd.name" class="form-control" placeholder="Navn"
                   type="text"/>
          </div>
        </div>
        <div class="form-group">
          <label>Mængdeenhed</label>
          <select [(ngModel)]="unitType" class="form-control dropdown-toggle">
            <option *ngFor="let unit of unitTypeList" [ngValue]="unit">{{unit.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="name">Nedre grænse</label>
          <div class="input-group">
            <input [(ngModel)]="templateToAdd && templateToAdd.lowerLimit" class="form-control" placeholder="Nedre grænse for denne skabelon på lageret"
                   type="text"/>
          </div>
        </div>
        <div class="form-group">
          <label for="name">Beskrivelse</label>
          <div class="input-group">
            <textarea [(ngModel)]="templateToAdd && templateToAdd.description" class="form-control" placeholder="Beskrivelse"
                      rows="5"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label>Kategori</label>
          <select [(ngModel)]="category" class="form-control dropdown-toggle">
            <option *ngFor="let cat of categoryList" [ngValue]="cat">{{cat.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="templateList">Skabelonliste</label>
          <div class="form-group">
            <ng-select
              [(ngModel)]="selectedTemplates"
              [closeOnSelect]="false"
              [hideSelected]="true"
              [items]="templates | async"
              [multiple]="true"
              bindLabel="name"
              placeholder="Vælg skabeloner">
            </ng-select>
            <small class="form-text">En liste af skabeloner der bruges til at fremstille denne skabelon.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="name">Vælg mængder til de forskellige skabeloner</label>
          <br>
          <ng-container *ngFor="let temp of selectedTemplates; let i=index">
            <label><i>{{temp.name}} </i></label>
            <input [(ngModel)]="partAmounts[i]" class="form-control" name="amount{{i}}" placeholder="{{temp.name}}"
                   type="number"/>
          </ng-container>

        </div>
        <div class="form-group">
          <button (click)="addTemplate()" class="btn btn-success">Tilføj skabelonen</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Egenskaber</div>
      <div class="card-body">
        <div class="card">
          <div class="card-body">
            <div class="input-group">
              <input [(ngModel)]="propFilter" class="form-control" placeholder="Filtrer egenskaber" type="text"/>
            </div>
            <br>
            <div class="col-lg-6">
              <ng-container *ngFor="let prop of properties | propertyFilter: propFilter | paginate: {itemsPerPage: itemsPerPage,
                                                                                          currentPage: currentPage,
                                                                                          totalItems: properties?.length }; let i=index">
                <div *ngIf="checkBox(prop.id); then checkedBox else uncheckedBox"></div>
                <ng-template #checkedBox>
                  <input (change)="onCheckboxChange(prop,$event)" checked class="form-check-input"
                         type="checkbox"/> {{prop.name}}
                </ng-template>
                <ng-template #uncheckedBox>
                  <input (change)="onCheckboxChange(prop,$event)" class="form-check-input"
                         type="checkbox"/> {{prop.name}}
                </ng-template>
                <br>
              </ng-container>
            </div>
            <br>
            <pagination-controls (pageChange)="currentPage = $event"
                                 maxSize="7"
                                 nextLabel="Næste"
                                 previousLabel="Forrige">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">Tilføj filer</div>
      <div class="card-body">
        <div class="col-lg-12" style="margin-bottom: 40px">
          <form enctype="multipart/form-data">
            <input #file (change)="uploader.queue(file.files)" enctype="multipart/form-data" multiple type="file">
            <br/>
            <br/>

            <table class="table">
              <thead>
              <tr>
                <th width="50%">Navn</th>
                <th>Størrelse</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of uploader.queuedFiles">
                <td>
                  <strong>{{ item.name}}</strong>
                </td>
                <td>{{ item.size / 1024 / 1024 | number:'.2' }} MB</td>
                <td>
                  <button (click)="uploader.removeFromQueue(file)" class="btn btn-danger btn-s" type="button">
                    <span class="glyphicon glyphicon-trash"></span> Fjern
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </form>

          <div>
            <button (click)="uploader.clearQueue()" [disabled]="!uploader.queuedFiles.length" class="btn btn-danger btn-s"
                    type="button">
              <span class="glyphicon glyphicon-trash"></span> Fjern alle
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


