<div class="card">
  <div class="card-header">
    Skabeloner
  </div>

  <div class="card-body">
    <table class="table table-bordered table-striped table-sm">
      <thead>
        <tr>
          <th>Navn (Revision)</th>
          <th>Enhedstype</th>
          <th>Beskrivelse</th>
          <th>Handlinger</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let template of templates">
          <td>{{template.name}}</td>
          <td>{{template.unitType}}</td>
          <td>{{template.description}}</td>
          <td>
            <span class="badge badge-success">Active</span>
          </td>
        </tr>
      </tbody>
    </table>
    <nav>
      <ul class="pagination">
        <div class="col-xs-12 col-12">
          <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" class="pagination-sm"
            [maxSize]="6" previousText="&lsaquo;" nextText="&rsaquo;" firstText="Første" lastText="Sidste"></pagination>
        </div>
      </ul>
    </nav>
  </div>
</div>