<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Detaljer omkring genstanden</div>
      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-3">Navn</dt>
          <dd class="col-sm-9">
            <p>{{item.template.name}}</p>
          </dd>
  
          <dt class="col-sm-3">Mængde</dt>
          <dd class="col-sm-9">
            <p>{{item.amount}}</p>
          </dd>
  
          <dt class="col-sm-3">Placering</dt>
          <dd class="col-sm-9">
            <p>{{item.placement}}</p>
          </dd>
  
          <dt class="col-sm-3">Aktivt</dt>
          <dd *ngIf="item.isActive" class="col-sm-9">
            <p>Ja</p>
          </dd>
          <dd *ngIf="!item.isActive" class="col-sm-9">
            <p>Nej</p>
          </dd>
  
            <dt *ngIf="item.createdBy != null" class="col-sm-3">Lavet af</dt>
            <dd *ngIf="item.createdBy != null" class="col-sm-9">
              <p>{{item.createdBy}}</p>
            </dd>

            <dt class="col-sm-3">Ordre </dt>
            <dd class="col-sm-9">
              <button class="btn btn-success input-group-text btn-lg" (click)="goToOrder()">
                Gå til ordre
              </button>
            </dd>

            <dt class="col-sm-3">Genstande brugt til produktion </dt>
            <dd class="col-sm-9">
                <p *ngFor="let part of item.parts">{{part.amount}} {{getPart(part.partId)}}</p>
            </dd>

              

  

        </dl>
      </div>
    </div>
  </div>

  <div class="col-lg-6">

    <div class="card">
      <div class="card-header">Valgte egenskaber</div>
      <div class="card-body">
        <div class="row demo-checkboxes-radio">
          <div class="demo-checkboxes col-sm-4">
            checkbox Malingsfarve
            checkbox Behandling
            checkbox Egenskab3
            checkbox Egenskab4
            checkbox Egenskab5
            checkbox Egenskab6
          </div>
        </div>
        <div class="input-group">
          <input type="text" placeholder="Tilføj ny egenskab" class="form-control" />
          <span class="input-group-append">
            <button class="btn btn-success input-group-text">
              Tilføj
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
