<!--Choose ItemTemplate-->
<div *ngIf="currentStep == 0">
    <div class="card">
        <div class ="form-group">
            <div class="card-header">Vælg en Skabelon</div>
            <div class="card-body">

                <ng-select 
                [items]="itemTemplates"
                [multiple]="false"
                bindLabel="name"
                placeholder="Vælg skabelon"
                [(ngModel)]="itemToAdd.template"> 
                </ng-select>

                <div *ngIf="itemToAdd.template !== undefined">
                    <div class="form-group">
                        <label>Mængde</label>
                        <div class="input-group">
                            <input class="form-control" [(ngModel)] ="itemToAdd.amount">
                        </div>
                    </div>
                    <div class="from-group">
                        <label>Placering</label>
                        <div class="input-group">
                            <input class="from-control" [(ngModel)] = "itemToAdd.placement">
                        </div>
                    </div>
                </div>
                <br>
                <button class="btn btn-success" (click)="changeFromSelectItemTemplate()">
                    videre
                </button>
            </div>
        </div>
    </div>
</div>

<!--List Of items on choosen ItemTemplate-->
<div *ngIf="currentStep == 1">
    <div class="card">
        <div class="card-header">Del genstande der mangler at blive valgt fra lageret</div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Navn</th>
                        <th>Mængde</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let part of missingItems">
                        <td>{{part.part.name}}</td>
                        <td>{{part.amount}}</td>
                        <td>
                            <button class="btn btn-primary" (click)="changeToSelectFromStock(part)">
                                Vælg fra lager
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div *ngIf="itemToAdd.parts.length != 0">
        <div class="card">
            <div class="card-header">
                Del genstande der er blevet valgt fra lageret
                <div *ngIf="missingItems.length == 0">
                    <div class="float-right">
                        <button class="btn btn-primary" (click)="changeToInfo()">
                                    Videre
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Navn</th>
                            <th>Placering</th>
                            <th>Mængde</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let part of itemToAdd.parts">
                            <td>{{part.part.template.name}}</td>
                            <td>{{part.part.placement}}</td>
                            <td>{{part.amount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--choose Items from stock -->
<div *ngIf="currentStep == 2">
    <div class="card">
        <div class="card-header"> 
            Vælg {{currentSelectItem.amount}} {{currentSelectItem.part.name}} fra lageret 
            <div class="float-right">
                    <button class="btn btn-primary" (click)="changeFromStockToSelect()">
                        Videre
                    </button>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>     
                        <th>Navn</th>
                        <th>Placering</th>
                        <th>Mængde på lager</th>
                        <th>Valgte mængde at tilføje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of itemsToChooseFromList">
                        <td>{{item.part.template.name}}</td>
                        <td>{{item.part.placement}}</td>
                        <td>{{item.part.amount}}</td>
                        <td>
                            <div class="input-group">
                                <input class="form-control" [(ngModel)] ="item.amount">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Add info site-->
<div *ngIf="currentStep == 3">
    <div class="card">
        <div class="card-header">
            Tilføj Informationer
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label>Placering</label>
                        <div class="input-group">
                            <input class="form-control" [(ngModel)]="itemToAdd.placement">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div *ngIf="itemToAdd.properties.length != 0">
                <div class="card">
                    <div class="card-head">
                        Egenskaber
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Egenskab</th>
                                    <th>Beskrivelse</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let property of itemToAdd.properties">
                                    <td>{{property.propertyName.name}}</td>
                                    <td>
                                        <div class="input-group">
                                            <input class="form-control" [(ngModel)]="property.description">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
