<div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">Ny genstand til lageret</div>
            <div class="card-body">
              <div class="form-group">
                <label for="placement">Genstandens placering</label>
                <div class="input-group">
                  <input type="text" placeholder="Placering" class="form-control" [(ngModel)]="itemToAdd.placement"/>
                </div>
              </div><div class="form-group">
                <label for="amount">Mængde</label>
                <div class="input-group">
                  <input type="number" placeholder="Mængde" class="form-control" [(ngModel)]="itemToAdd.amount"/>
                </div>
              </div>
              <div class="form-group">
                <label>Vælg skabelon</label>
                <select class="form-control btn btn-success dropdown-toggle" [(ngModel)]="templateToGet" (change)="getTemplateDetails()">
                  <option *ngFor="let temp of templates" [ngValue]="temp">{{temp.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="madeBy">Lavet af</label>
                <select class="form-control btn btn-success dropdown-toggle" [(ngModel)]="itemToAdd.createdBy">
                  <option *ngFor="let user of userList" [ngValue]="user">{{user.name}} - {{user.username}}</option>
                </select>
              </div>
              <br>
              <div class="form-group">
                <label for="itemList">Genstandsliste</label>
                <div class="form-group">
                  <ng-select
                    [items]="items"
                    [multiple]="true"
                    [closeOnSelect]="false"
                    [hideSelected]="true"
                    bindLabel="placement"
                    placeholder="Vælg genstande"
                    [(ngModel)]="selectedItemParts">               
                  </ng-select>
                  <small class="form-text">En liste af genstande der bruges til at fremstille denne genstand.
                  </small>
                </div>
              </div>
              <button class="btn btn-success btn-rectangle input-group-text" (click)="addItem()">Tilføj genstand</button>
            </div>
        </div>
      </div>
      
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">Egenskaber der ligger på den valgte skabelon</div>
            <div class="card-body">
              <div *ngIf="!detailsReady">
                Vælg en skabelon til venstre og dennes egenskaber vil vises
              </div>
              <div *ngIf="detailsReady">
                <div *ngFor="let prop of templateDetails.templateProperties; let i=index">
                  {{prop.name}}
                  <br>
                  <input type="text" placeholder="{{prop.name}}" class="form-control" [(ngModel)]="descriptionTextsToAdd[i]">
                  <br>
                </div>
              </div>
            </div>
        </div>
      </div>
</div>
      