<form *ngIf="!loggedIn()" #loginForm="ngForm" class="container" (ngSubmit)="login()">
  <div class="row">
      <div class="col-md-offset-5 col-md-3">
          <div class="form-login">
            <h4>Log ind</h4>
            <input type="text" #username="ngModel" id="userName" class="form-control input-sm chat-input" placeholder="Brugernavn" required name="username" [(ngModel)]="model.username" />
            <br />
            <input type="password" #password="ngModel" id="userPassword" class="form-control input-sm chat-input" placeholder="Password" required name="password" [(ngModel)]="model.password"/>
            <br />
            <div class="wrapper">
                <span class="group-btn">
                    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-success">Log ind</button>
                </span>
            </div>
          </div>

      </div>
  </div>
</form>
