<div class="row">
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Detaljer omkring skabelonen</nb-card-header>
        <nb-card-body>
          <div class="form-group">
            <label for="name">Navn på skabelon</label>
            <div class="input-group">
              <input type="text" placeholder="Navn" id="name" class="form-control" value="{{template?.name}}" [disabled]="nameDisabled"/>
              <span class="input-group-append">
                <button class="btn btn-success input-group-text" (click)="enableName()">
                  {{ nameDisabled ? 'Rediger' : 'Gem' }}
                </button>
              </span>
            </div>
          </div>

          <div class="form-group">
              <label>Mængdeenhed</label>
            <div class="row">
              <div class="col-lg-10">
              <select class="form-control btn btn-success btn-rectangle dropdown-toggle">
              <option *ngFor="let enum of unitTypes" [value]="unitTypes[enum]" [disabled]="unitTypeDisabled" [selected]="enum == unitTypeEnum">{{enum}}</option>
              </select>
            </div>
            <div class="col-lg-2">
                <button class="btn btn-success btn-rectangle input-group-text"  (click)="enableunitType()">
                    {{ unitTypeDisabled ? 'Rediger' : 'Gem' }}
                  </button>
                </div>
          </div>
        </div>

          <div class="form-group">
            <label for="description">Beskrivelse</label>
            <div class="input-group">
              <textarea rows="3" placeholder="Text Area" id="description" class="form-control" [disabled]="descriptionDisabled">{{template?.description}}</textarea>
              <span class="input-group-append">
                <button class="btn btn-success input-group-text" (click)="enableDescription()">
                  {{ descriptionDisabled ? 'Rediger' : 'Gem' }}
                </button>
              </span>
            </div>
          </div>

          <div class="form-group">
              <label for="templateList">Skabelonliste</label>
              <div class="form-group">
                <ng-select
                  [items]="templates"
                  [multiple]="true"
                  [closeOnSelect]="false"
                  [hideSelected]="true"
                  bindValue="id"
                  bindLabel="name"
                  placeholder="Vælg skabeloner"
                  [(ngModel)]="selectedTemplates">
                </ng-select>
                <small class="form-text">En liste af skabeloner der bruges til at fremstille denne skabelon.
                </small>
              </div>
            </div>
            <div class="input-group"  *ngFor="let temp of template?.parts">
                {{temp.part.name}} {{temp.amount}}
            </div>
            <div class="form-group">
                <label for="usedList">Anvendelsesliste</label>
                <div class="form-group">
                    <ng-select
                    [items]="templates"
                    [multiple]="true"
                    [closeOnSelect]="false"
                    [hideSelected]="true"
                    bindLabel="part.name"
                    placeholder="Vælg skabeloner"
                    [(ngModel)]="usedTemplates">             
                  </ng-select>
                  <small class="form-text">En liste af skabeloner hvori denne skabelon anvendes.
                  </small>
                </div>
              </div> 
          <div class="form-group">
              <label for="file">Fil</label>
              <div class="input-group">
                <input type="text" placeholder="Fil" value="{{template?.files}}" id="file" class="form-control" [disabled]="fileDisabled">
                <span class="input-group-append">
                  <button class="btn btn-success input-group-text" (click)="enableFile()">
                      {{ fileDisabled ? 'Rediger' : 'Gem' }}
                  </button>
                </span>
              </div>
            </div>
            <button (click)="printList()">med</button>
        </nb-card-body>
      </nb-card>
    </div>

  
    <div class="col-lg-6">
  
      <nb-card>
        <nb-card-header>Valgte egenskaber</nb-card-header>
        <nb-card-body>
          <div class="row demo-checkboxes-radio">
            <div class="demo-checkboxes col-sm-4">
              <ng-container *ngFor="let prop of properties">
                  <nb-checkbox [value]="propertiesToCheck.includes(prop)"> {{prop.name}}</nb-checkbox>
              </ng-container>  
            </div>
          </div>

           <div class="input-group">
            <input type="text" placeholder="Tilføj ny egenskab" class="form-control" name="propertyContent"/>
            <span class="input-group-append">
              <button class="btn btn-success input-group-text" (click)="addProperty()">
                Tilføj
              </button>
            </span>
          </div>
        </nb-card-body>
      </nb-card> 
    </div>
  </div>
  