<div class="row">
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Detaljer omkring skabelonen</nb-card-header>
        <nb-card-body>
          <div class="form-group">
            <label for="name">Navn på skabelon</label>
            <div class="input-group">
              <input type="text" placeholder="Navn" id="name" class="form-control" value="{{template?.name}}" [disabled]="nameDisabled"/>
              <span class="input-group-append">
                <button class="btn btn-success input-group-text" (click)="enableName()">
                  {{ nameDisabled ? 'Rediger' : 'Gem' }}
                </button>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="unitType">Mængdeenhed</label>
            <div class="input-group">
              <input type="text" placeholder="Mængdeenhed" class="form-control"  value="{{template?.unitType}}" id="unitType" [disabled]="unitTypeDisabled"/>
              <span class="input-group-append">
                <button class="btn btn-success input-group-text"  (click)="enableunitType()">
                  {{ unitTypeDisabled ? 'Rediger' : 'Gem' }}
                </button>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="description">Beskrivelse</label>
            <div class="input-group">
              <textarea rows="3" placeholder="Text Area" id="description" class="form-control" [disabled]="descriptionDisabled">{{template?.description}}</textarea>
              <span class="input-group-append">
                <button class="btn btn-success input-group-text" (click)="enableDescription()">
                  {{ descriptionDisabled ? 'Rediger' : 'Gem' }}
                </button>
              </span>
            </div>
          </div>
          <div class="form-group">
              <label for="templateList">Skabelonliste</label>
              <input type="text" placeholder="Skabelonliste" id="templateList" class="form-control" disabled/>
              <small class="form-text">En liste af skabeloner hvor denne skabelon anvendes. </small>
            </div>
          <div class="form-group">
            <label for="usedList">Anvendelsesliste</label>
            <input type="text" placeholder="Anvendelsesliste" id="usedList" class="form-control" disabled/>
            <small class="form-text">En liste af skabeloner hvori denne skabelon anvendes. </small>
          </div>
          <div class="form-group">
              <label for="file">Fil</label>
              <div class="input-group">
                <input type="text" placeholder="Fil" value="{{template?.files}}" id="file" class="form-control" [disabled]="fileDisabled">
                <span class="input-group-append">
                  <button class="btn btn-success input-group-text" (click)="enableFile()">
                      {{ fileDisabled ? 'Rediger' : 'Gem' }}
                  </button>
                </span>
              </div>
            </div>
        </nb-card-body>
      </nb-card>
    </div>
  
    <div class="col-lg-6">
  
      <nb-card>
        <nb-card-header>Valgte egenskaber</nb-card-header>
        <nb-card-body>
          <div class="row demo-checkboxes-radio">
            <div class="demo-checkboxes col-sm-4">
              <nb-checkbox>Malingsfarve</nb-checkbox>
              <nb-checkbox>Behandling</nb-checkbox>
              <nb-checkbox>Egenskab3</nb-checkbox>
              <nb-checkbox>Egenskab4</nb-checkbox>
              <nb-checkbox>Egenskab5</nb-checkbox>
              <nb-checkbox>Egenskab6</nb-checkbox>
            </div>
           </div>
           <div class="input-group">
            <input type="text" placeholder="Tilføj ny egenskab" class="form-control" name="propertyContent"/>
            <span class="input-group-append">
              <button class="btn btn-success input-group-text" (click)="addProperty()">
                Tilføj
              </button>
            </span>
          </div>
        </nb-card-body>
      </nb-card> 
    </div>
  </div>
  