<div *ngIf="onOrderPage" class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Ny bestilling</div>
      <div class="card-body">
        <div class="form-group">
          <label for="company">Firma</label>
          <div class="input-group">
            <input [(ngModel)]="orderToAdd && orderToAdd.company" class="form-control" placeholder="Firma" type="text"/>
          </div>
        </div>
        <div class="form-group">
          <label for="deliveryDate">Leveringstidspunkt</label>
          <div class="input-group">
            <input [(ngModel)]="orderToAdd && orderToAdd.deliveryDate" class="form-control" placeholder="Leveringstidspunkt"
                   type="date"/>
          </div>
        </div>
        <div class="form-group">
          <label for="height">Højde</label>
          <div class="input-group">
            <input [(ngModel)]="orderToAdd && orderToAdd.height" class="form-control" placeholder="Højde" type="text"/>
          </div>
        </div>
        <div class="form-group">
          <label for="length">Længde</label>
          <div class="input-group">
            <input [(ngModel)]="orderToAdd && orderToAdd.length" class="form-control" placeholder="Længde" type="text"/>
          </div>
        </div>
        <div class="form-group">
          <label for="width">Bredde</label>
          <div class="input-group">
            <input [(ngModel)]="orderToAdd && orderToAdd.width" class="form-control" placeholder="Bredde" type="text"/>
          </div>
        </div>
        <div class="form-group">
          <label>Mængdeenhed</label>
          <select [(ngModel)]="orderToAdd && orderToAdd.unitType" class="form-control dropdown-toggle">
            <option *ngFor="let unit of unitTypeList" selected>{{unit.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="invoicePath">invoicePath</label>
          <div class="input-group">
            <input [(ngModel)]="orderToAdd && orderToAdd.invoicePath" class="form-control" placeholder="invoicePath"
                   type="text"/>
          </div>
        </div>
        <div class="form-group">
          <label for="purchaseNumber">Købsnummer</label>
          <div class="input-group">
            <input [(ngModel)]="orderToAdd && orderToAdd.purchaseNumber" class="form-control" placeholder="Købsnummer"
                   type="text"/>
          </div>
        </div>
        <div class="form-group">

          <div _ngcontent-c21="" class="form-group">
            <button (click)="addOrder()" _ngcontent-c21="" class="btn btn-success btn-rectangle input-group-text">Tilføj
              bestilling
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Tilføj genstande til bestillingen</div>
      <div class="card-body">
        <div class="form-group">
          <ul class="list-group">
            <div *ngFor="let item of orderToAdd.products; let i=index">
              <li class="list-group-item">{{item.template.name}} ({{item.amount}})
                <button (click)="removeItemFromOrder(i)" aria-label="Close" class="close" type="button">
                  <span aria-hidden="false">&times;</span>
                </button>
              </li>
            </div>
          </ul>
        </div>
        <div class="form-group">

          <div _ngcontent-c21="" class="form-group">
            <button (click)="changePage()" _ngcontent-c21="" class="btn btn-success btn-rectangle input-group-text">
              Tilføj
              genstand
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="!onOrderPage" class="row">

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Ny genstand til bestillingen</div>
      <div class="card-body">
        <div class="form-group">
          <label>Vælg skabelon</label>
          <select class="form-control dropdown-toggle" [(ngModel)]="templateToGet" (change)="getTemplateDetails()">
            <option *ngFor="let temp of templates" [ngValue]="temp">{{temp.name}}</option>
          </select>
        </div>
        <div class="form-group" *ngIf="detailsReady">
          <label for="placement">Genstandens placering</label>
          <div class="input-group">
            <input type="text" placeholder="Placering" class="form-control" [(ngModel)]="currentItem.amount"/>
          </div>
        </div>
        <div class="form-group" *ngIf="detailsReady">
          <label for="amount">Mængde ({{currentItem.template.unitType.name}})</label>
          <div class="input-group">
            <input type="number" placeholder="Mængde" class="form-control" [(ngModel)]="currentItem.amount"/>
          </div>
        </div>
        <div class="btn-group">
          <button _ngcontent-c21="" (click)="changePage()" class="btn btn-success btn-rectangle input-group-text">
            Tilbage
          </button>
          <button _ngcontent-c21="" (click)="addItemToOrder()" [disabled]="!detailsReady"
                  class="btn btn-success btn-rectangle input-group-text">Tilføj
            genstand
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">

    <div class="card">
      <div class="card-header">Egenskaber der ligger på den valgte skabelon</div>
      <div class="card-body">
        <div *ngIf="detailsReady">
          <div *ngFor="let prop of templateDetails.templateProperties; let i=index">
            {{prop.name}}
            <br>
            <br>
            <input type="text" placeholder="{{prop.name}}" class="form-control" [(ngModel)]="descriptionTextsToAdd[i]">
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
