
<div class="row">
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Ny skabelon</nb-card-header>
        <nb-card-body>
          <div class="form-group">
            <label for="name">Navn på skabelonen</label>
            <div class="input-group">
              <input type="text" placeholder="Navn" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label>Mængdeenhed</label>
            <select class="form-control btn btn-success dropdown-toggle">
              <option>Stk</option>
              <option>Cm</option>
              <option>Paller</option>
            </select>
          </div>
          <div class="form-group">
            <label for="name">Beskrivelse</label>
            <div class="input-group">
              <textarea rows="5" placeholder="Beskrivelse" class="form-control"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label for="templateList">Skabelonliste</label>
            <div class="form-group">
              <ng-select
                [items]="templates.slice(0,5)"
                [multiple]="true"
                [closeOnSelect]="false"
                [hideSelected]="true"
                bindLabel="name"
                placeholder="Vælg skabeloner"
                [(ngModel)]="selectedTemplates">
              </ng-select>
              <small class="form-text">En liste af skabeloner hvor denne skabelon anvendes.
              </small>
            </div>
          </div>

          <div class="form-group">
            <label for="usedList">Anvendelsesliste</label>
            <div class="form-group">
              <input type="text" placeholder="usedList" class="form-control"/>
              <small class="form-text">En liste af skabeloner hvori denne skabelon anvendes.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label for="files">Tilknyttede filer</label>
            <div class="form-group">
              <input type="text" placeholder="Tilknyttede filer" class="form-control"/>
              <small class="form-text">Har denne skabelon nogle filer der skal tilknyttes?
              </small>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  
    <div class="col-lg-6">
  
      <nb-card>
        <nb-card-header>Egenskaber</nb-card-header>
        <nb-card-body>
          <div class="row demo-checkboxes-radio">
            <div class="demo-checkboxes col-sm-4">
              <nb-checkbox>Malingsfarve</nb-checkbox>
              <nb-checkbox>Behandling</nb-checkbox>
            </div>
           </div>
           <div class="input-group">
            <input type="text" placeholder="Tilføj ny egenskab" class="form-control"/>
            <span class="input-group-append">
              <button class="btn btn-success input-group-text" onclick="addProperty()">
                Tilføj
              </button>
            </span>
          </div>
        </nb-card-body>
      </nb-card> 
    </div>
  </div>
  