<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Ny skabelon</nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <label for="name">Navn på skabelonen</label>
          <div class="input-group">
            <input type="text" placeholder="Navn" class="form-control" [(ngModel)]="templateToAdd && templateToAdd.name" />
          </div>
        </div>
        <div class="form-group">
          <label>Mængdeenhed</label>
          <select class="form-control btn btn-success dropdown-toggle" [(ngModel)]="unitType">
            <option *ngFor="let enum of unitTypes" selected>{{enum}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="name">Beskrivelse</label>
          <div class="input-group">
            <textarea rows="5" placeholder="Beskrivelse" class="form-control" [(ngModel)]="templateToAdd && templateToAdd.description"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label for="templateList">Skabelonliste</label>
          <div class="form-group">
            <ng-select [items]="templates | async" [multiple]="true" [closeOnSelect]="false" [hideSelected]="true" bindLabel="name" placeholder="Vælg skabeloner"
              [(ngModel)]="selectedTemplates">
            </ng-select>
            <small class="form-text">En liste af skabeloner der bruges til at fremstille denne skabelon.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="name">Vælg mængder til de forskellige skabeloner</label>
          <div class="input-group" *ngFor="let temp of selectedTemplates; let i=index">
            <label>{{temp.name}}: </label>
            <input type="number" placeholder="{{temp.name}}" class="form-control col-lg-8" name="amount{{i}}" [(ngModel)]="partAmounts[i]"
            />
          </div>

        </div>

        <div class="form-group">
          <label for="files">Tilknyttede filer</label>
          <div class="form-group">
            <input type="text" placeholder="Tilknyttede filer" class="form-control" [(ngModel)]="templateToAdd && templateToAdd.files"
            />
            <small class="form-text">Har denne skabelon nogle filer der skal tilknyttes?
            </small>
          </div>
        </div>
        <button class="btn btn-success btn-rectangle input-group-text" (click)="addTemplate()">Tilføj skabelonen</button>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">

    <nb-card>
      <nb-card-header>Egenskaber</nb-card-header>
      <nb-card-body>
        <div class="col-sm-6" *ngFor="let prop of properties; let i=index">
          <input type="checkbox" value="{{prop}}" (click)="onCheckboxChange(prop,$event)" /> {{prop.name}}
        </div>
        <br>

        <div class="input-group">
          <input type="text" placeholder="Tilføj ny egenskab" class="form-control" id="propField" [(ngModel)]="propToAddToDb && propToAddToDb.name" />
          <span class="input-group-append">
            <button class="btn btn-success input-group-text" (click)="addTemplateProperty()" onclick="document.getElementById('propField').value = ''">
              Tilføj
            </button>
          </span>
        </div>
      </nb-card-body>
    </nb-card>

    <style>
      .my-drop-zone {
        border: dotted 3px lightgray;
      }

      .nv-file-over {
        border: dotted 3px red;
      }

      /* Default class applied to drop zones on over */

      .another-file-over-class {
        border: dotted 3px green;
      }

      html,
      body {
        height: 100%;
      }
    </style>

    <nb-card>
      <nb-card-header>Tilføj filer</nb-card-header>
      <nb-card-body>
        <div class="col-lg-12" style="margin-bottom: 40px">

            <input type="file" ng2FileSelect [uploader]="uploader" multiple class="input-group-text">
            <br />
            <br />

          <table class="table">
            <thead>
              <tr>
                <th width="50%">Navn</th>
                <th>Størrelse</th>
                <th>Forløb</th>
                <th>Status</th>
                <th>Handlinger</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td>
                  <strong>{{ item?.file?.name }}</strong>
                </td>
                <td>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td>
                  <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  </div>
                </td>
                <td class="text-center">
                  <span *ngIf="item.isSuccess">
                    <i class="glyphicon glyphicon-ok"></i>
                  </span>
                  <span *ngIf="item.isError">
                    <i class="glyphicon glyphicon-remove"></i>
                  </span>
                </td>
                <td nowrap>
                  <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                  </button>
                  <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Fjern
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <div>
            <div>
              Kø fremskridt:
              <div class="progress" style="">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
              </div>
            </div>

            <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
              <span class="glyphicon glyphicon-upload"></span> Upload alle
            </button>
            <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
              <span class="glyphicon glyphicon-trash"></span> Fjern alle
            </button>
          </div>

        </div>
      </nb-card-body>
    </nb-card>

  </div>

</div>
