// Here you can add other styles

/* Custom background color for dropdown */
.sidebar .nav-dropdown.open > .nav-dropdown-items{
  background-color: #3d454b;
}

/* Changes cursor on techtables */
.clickable {
  cursor: pointer;
}

/* Makes all card headers bold*/
.card-header{
  font-weight: bold;
}


/* Related to fileupload styling */
.my-drop-zone {
  border: dotted 3px lightgray;
}

.nv-file-over {
  border: dotted 3px red;
}

.another-file-over-class {
  border: dotted 3px green;
}
.input-group-text {
  min-height: 35px;
}

html,
body {
  height: 100%;
}


.statusDropdown{
  background-color: #f0f3f5;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

@page {
  size: auto;   /* auto is the initial value */
  margin: 0;  /* this affects the margin in the printer settings */
}