<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Detaljer for ordren</div>
      <div class="card-body">
        <div class="form-group">
          <label for="orderId">Ordre-ID</label>
          <div class="input-group">
            <input type="text" placeholder="Ordre-ID" class="form-control" id="orderId" [disabled]="orderIdDisabled" />
          </div>
        </div>
        <div class="form-group">
          <label for="company">Firma</label>
          <div class="input-group">
            <input type="text" placeholder="Firma" class="form-control" id="company" id="company" [disabled]="companyDisabled" />
          </div>
        </div>
        <div class="form-group">
          <label for="orderDate">Dato for ordren</label>
          <div class="input-group">
            <input type="text" placeholder="Dato for ordren" class="form-control" id="orderDate" [disabled]="orderDateDisabled" />
          </div>
        </div>
        <div class="form-group">
          <label for="deliveryDate">Dato for ankomst</label>
          <div class="input-group">
            <input type="text" placeholder="Dato for ankomst" id="deliveryDate" class="form-control" [disabled]="deliveryDateDisabled">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-4">
            <label for="length">Længde</label>
            <div class="input-group">
              <input type="text" placeholder="Længde" id="length" class="form-control" [disabled]="lengthDisabled">
            </div>
          </div>
          <div class="form-group col-lg-4">
            <label for="width">Bredde</label>
            <div class="input-group">
              <input type="text" placeholder="Længde" id="width" class="form-control" [disabled]="widthDisabled">
            </div>
          </div>
          <div class="form-group col-lg-4">
            <label for="width">Højde</label>
            <div class="input-group">
              <input type="text" placeholder="Højde" id="width" class="form-control" [disabled]="heightDisabled">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="unitType">Mængdeenhed</label>
          <div class="input-group">
            <input type="text" placeholder="Mængdeenhed" class="form-control" id="unitType" [disabled]="unitTypeDisabled" />
          </div>
        </div>
        <div class="form-group">
          <label for="purchaseNumber">Bestillingsnummer</label>
          <div class="input-group">
            <input type="text" placeholder="Bestillingsnummer" id="purchaseNumber" class="form-control" [disabled]="purchaseNumberDisabled">
          </div>
        </div>
        <div class="form-group">
          <label for="orderedBy">Bestilt af</label>
          <div class="input-group">
            <input type="text" placeholder="Bestilt af" id="orderedBy" class="form-control" disabled>
          </div>
        </div>

        <div class="form-group">
          <label for="productList">Liste af produkter</label>
          <input type="text" placeholder="Liste af produkter" class="form-control" disabled />
          <small class="form-text">En liste af de produkter der var i ordren</small>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">

    <div class="card">
      <div class="card-header">Valgte egenskaber</div>
      <div class="card-body">
        <div class="row demo-checkboxes-radio">
          <div class="demo-checkboxes col-sm-4">
            checkbox - Malingsfarve
            Behandling
            Egenskab3
            Egenskab4
            Egenskab5
            Egenskab6
          </div>
        </div>
        <div class="input-group">
          <input type="text" placeholder="Tilføj ny egenskab" class="form-control" />
          <span class="input-group-append">
            <button class="btn btn-success input-group-text">
              Tilføj
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
