<div *ngIf="dataAvailable">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <h5>Order: {{ order.purchaseNumber }}</h5>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label>Firma</label>
            <div class="input-group">
              <input class="form-control" [(ngModel)]="order.company" />
            </div>
          </div>
          <div *ngIf="!editDate; else editContent">
            <div class="form-group">
              <label>Dato for levering</label>
              <div class="input-group-text">{{ deliveryDateAsString }}</div>
              <button class="btn btn-primary btn-sm" (click)="toggleEditDate()">
                Rediger leverings dato
              </button>
            </div>
          </div>
          <ng-template #editContent>
            <div class="form-group">
              <label>Dato for levering</label>
              <div class="input-group">
                <input
                  type="date"
                  placeholder="Leveringstidspunkt"
                  class="form-control"
                  [(ngModel)]="order.deliveryDate"
                />
              </div>
              <div class="btn-toolbar">
                <button class="btn btn-success btn-sm" (click)="saveEditDate()">
                  Gem dato
                </button>
                <button
                  class="btn btn-danger btn-sm"
                  (click)="cancelEditDate()"
                >
                  Annuller
                </button>
              </div>
            </div>
          </ng-template>
          <div class="form-group">
            <label>Højde</label>
            <div class="input-group">
              <input class="form-control" [(ngModel)]="order.height" />
            </div>
          </div>
          <div class="form-group">
            <label>Længde</label>
            <div class="input-group">
              <input class="form-control" [(ngModel)]="order.length" />
            </div>
          </div>
          <div class="form-group">
            <label>Bredde</label>
            <div class="input-group">
              <input class="form-control" [(ngModel)]="order.width" />
            </div>
          </div>
          <div class="form-group">
            <label>MængdeEnhed</label>
            <select
              class="form-control dropdown-toggle"
              [(ngModel)]="order.unitType"
            >
              <option *ngFor="let unit of unitTypes" [ngValue]="unit">{{
                unit.name
              }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Købsnummer</label>
            <div class="input-group">
              <input class="form-control" [(ngModel)]="order.purchaseNumber" />
            </div>
          </div>
          <div class="form-group">
            <label>Status:</label>
            <select
              class="form-control dropdown-toggle"
              [(ngModel)]="orderStatus"
            >
              <option *ngFor="let key of keys" [ngValue]="key">{{
                key
              }}</option>
            </select>
          </div>

          <div class="form-group">
            <button class="btn btn-success" (click)="saveOrder()">
              Gem ændringer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
