<div *ngIf="dataAvailable">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <h5>Order: {{ order.purchaseNumber }}</h5>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label>Firma</label>
            <div class="input-group">
              <input [(ngModel)]="order.company" class="form-control"/>
            </div>
          </div>
          <div *ngIf="!editDate; else editContent">
            <div class="form-group">
              <label>Leveringsdato</label>
              <div class="input-group-text">{{ deliveryDateAsString }}</div>
              <button (click)="toggleEditDate()" class="btn btn-primary btn-sm">
                Rediger leveringsdato
              </button>
            </div>
          </div>
          <ng-template #editContent>
            <div class="form-group">
              <label>Leveringsdato</label>
              <div class="input-group">
                <input
                  [(ngModel)]="order.deliveryDate"
                  class="form-control"
                  placeholder="Leveringstidspunkt"
                  type="date"
                />
              </div>
              <div class="btn-toolbar">
                <button (click)="saveEditDate()" class="btn btn-success btn-sm">
                  Gem dato
                </button>
                <button
                  (click)="cancelEditDate()"
                  class="btn btn-danger btn-sm"
                >
                  Annuller
                </button>
              </div>
            </div>
          </ng-template>
          <div class="form-group">
            <label>Højde</label>
            <div class="input-group">
              <input [(ngModel)]="order.height" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label>Længde</label>
            <div class="input-group">
              <input [(ngModel)]="order.length" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label>Bredde</label>
            <div class="input-group">
              <input [(ngModel)]="order.width" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label>Mængdeenhed</label>
            <select
              [(ngModel)]="order.unitType"
              class="form-control dropdown-toggle"
            >
              <option *ngFor="let unit of unitTypes" [ngValue]="unit">{{
                unit.name
                }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Købsnummer</label>
            <div class="input-group">
              <input [(ngModel)]="order.purchaseNumber" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label>Status</label>
            <select
              [(ngModel)]="orderStatus"
              class="form-control dropdown-toggle"
            >
              <option *ngFor="let key of keys" [ngValue]="key">{{
                key
                }}</option>
            </select>
          </div>

          <div class="form-group">
            <button (click)="saveOrder()" class="btn btn-success">
              Gem ændringer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
