<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>{{title}}</h3>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#">Hjem</a>
            </li>
            <li>
                <a href="#">Produkter</a>
            <li>
                <a href="#">Punkt</a>
            </li>
            <li>
                <a href="#">Punkt</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">
        <h2>{{title}}: Management for the Future (rundbuehaller)</h2>
        <app-value></app-value>
        <div class="line"></div>
   </div>
</div>


<router-outlet></router-outlet>
