<div *ngIf="onOrderPage" class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Ny bestilling</nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <label for="company">Firma</label>
          <div class="input-group">
            <input type="text" placeholder="Firma" class="form-control" [(ngModel)]="orderToAdd && orderToAdd.company" />
          </div>
        </div>
        <div class="form-group">
          <label for="deliveryDate">Leveringstidspunkt</label>
          <div class="input-group">
            <input type="date" placeholder="Leveringstidspunkt" class="form-control" [(ngModel)]="orderToAdd && orderToAdd.deliveryDate"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="height">Højde</label>
          <div class="input-group">
            <input type="text" placeholder="Højde" class="form-control" [(ngModel)]="orderToAdd && orderToAdd.height" />
          </div>
        </div>
        <div class="form-group">
          <label for="length">Længde</label>
          <div class="input-group">
            <input type="text" placeholder="Længde" class="form-control" [(ngModel)]="orderToAdd && orderToAdd.length" />
          </div>
        </div>
        <div class="form-group">
          <label for="width">Bredde</label>
          <div class="input-group">
            <input type="text" placeholder="Bredde" class="form-control" [(ngModel)]="orderToAdd && orderToAdd.width" />
          </div>
        </div>
        <div class="form-group">
          <label>Mængdeenhed</label>
          <select class="form-control btn btn-success dropdown-toggle" [(ngModel)]="orderToAdd && orderToAdd.unitType">
            <option *ngFor="let enum of unitTypes" selected>{{enum}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="invoicePath">invoicePath</label>
          <div class="input-group">
            <input type="text" placeholder="invoicePath" class="form-control" [(ngModel)]="orderToAdd && orderToAdd.invoicePath" />
          </div>
        </div>
        <div class="form-group">
          <label for="purchaseNumber">Købsnummer</label>
          <div class="input-group">
            <input type="text" placeholder="Købsnummer" class="form-control" [(ngModel)]="orderToAdd && orderToAdd.purchaseNumber" />
          </div>
        </div>
        <div class="form-group">
          
          <div _ngcontent-c21="" class="form-group">
            <button _ngcontent-c21="" (click)="addOrder()" class="btn btn-success btn-rectangle input-group-text">Tilføj bestilling</button>
          </div>

        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Tilføj genstande til bestillingen</nb-card-header>
      <nb-card-body>
        <div class="form-group">
            <ul class="list-group">
            <div *ngFor="let item of orderToAdd.products; let i=index">
              <li class="list-group-item">{{item.template.name}} ({{item.amount}})
                <button type="button" (click)="removeItemFromOrder(i)" class="close" aria-label="Close">
                    <span aria-hidden="false">&times;</span>
                </button>
              </li>
            </div>
          </ul>
        </div>
        <div class="form-group">
          
          <div _ngcontent-c21="" class="form-group">
            <button _ngcontent-c21="" (click)="changePage()" class="btn btn-success btn-rectangle input-group-text">Tilføj
              genstand</button>
          </div>

        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>


<div *ngIf="!onOrderPage" class="row">

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Ny genstand til bestillingen</nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <label>Vælg skabelon</label>
          <select class="form-control btn btn-success dropdown-toggle" [(ngModel)]="templateToGet" (change)="getTemplateDetails() && getUnitTypeForTemplate()">
            <option *ngFor="let temp of templates" [ngValue]="temp">{{temp.name}}</option>
          </select>
        </div>
        <div class="form-group" *ngIf="detailsReady">
          <label for="placement">Genstandens placering</label>
          <div class="input-group">
            <input type="text" placeholder="Placering" class="form-control" [(ngModel)]="currentItem.amount" />
          </div>
        </div>
        <div class="form-group" *ngIf="detailsReady">
            <label for="amount">Mængde ({{unitTypeForAmount}})</label>
            <div class="input-group">
              <input type="number" placeholder="Mængde" class="form-control" [(ngModel)]="currentItem.amount" />
            </div>
        </div>
        <div class="btn-group">
                <button _ngcontent-c21="" (click)="changePage()" class="btn btn-success btn-rectangle input-group-text">Tilbage</button>
                <button _ngcontent-c21="" (click)="addItemToOrder()" [disabled]="!detailsReady" class="btn btn-success btn-rectangle input-group-text">Tilføj genstand</button>
        </div>
    </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">

    <nb-card>
      <nb-card-header>Egenskaber der ligger på den valgte skabelon</nb-card-header>
      <nb-card-body>
        <div *ngIf="detailsReady">
          <div *ngFor="let prop of templateDetails.templateProperties; let i=index">
            {{prop.name}}
            <br>
            <br>
            <input type="text" placeholder="{{prop.name}}" class="form-control" [(ngModel)]="descriptionTextsToAdd[i]">
            <br>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>