<div class="row">
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Nyt projekt</nb-card-header>
        <nb-card-body>
          <div class="input-group">
            <input type="text" placeholder="Navn" class="form-control"/>
          </div>
          <div class="form-group">
            <label><b>Mængdeenhed</b></label>
            <select class="form-control btn btn-success dropdown-toggle">
              <option>Stk</option>
              <option>Cm</option>
              <option>Paller</option>
            </select>
          </div>
          <div class="input-group">
            <textarea rows="5" placeholder="Beskrivelse" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <input type="text" placeholder="Genstandsliste" class="form-control"/>
            <small class="form-text">En liste af skabeloner for andre genstande der anvender denne.
            </small>
          </div>
          <div class="form-group">
            <input type="text" placeholder="Skabelonliste" class="form-control"/>
            <small class="form-text">En liste af skabeloner der anvendes af denne genstand.
            </small>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  
    <div class="col-lg-6">
  
      <nb-card>
        <nb-card-header>Egenskaber</nb-card-header>
        <nb-card-body>
          <div class="row demo-checkboxes-radio">
            <div class="demo-checkboxes col-sm-4">
              <nb-checkbox>Malingsfarve</nb-checkbox>
              <nb-checkbox>Behandling</nb-checkbox>
            </div>
           </div>
           <div class="input-group">
            <input type="text" placeholder="Tilføj ny egenskab" class="form-control"/>
            <span class="input-group-append">
              <button class="btn btn-success input-group-text">
                Tilføj
              </button>
            </span>
          </div>
        </nb-card-body>
      </nb-card> 
    </div>
  </div>
  