<div class="row">
    <div class="col-lg-6">
        <div class="card">
        <div class="card-header">
          Detaljer omkring bruger
          <div class="float-right" *ngIf="authService.roleMatch(['User_Edit'])">
            <button type="button" class="btn btn-primary" (click)="goToEditPage(user.id)">
              Rediger brugeren
            </button>
            </div>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="username">
              Brugernavn
            </label>
            <div class="input-group">
              <input type="text" placeholder="Navn" id="username" class="form-control" value="{{user?.username}}" disabled/>
            </div>
          </div>
          <div class="form-group">
            <label for="name">
              Fornavn
            </label>
            <div class="input-group">
              <input type="text" placeholder="Navn" id="name" class="form-control" value="{{user?.name}}" disabled/>
            </div>
          </div>
          <div class="form-group">
            <label for="surName">
              Efternavn
            </label>
            <div class="input-group">
              <input type="text" placeholder="Navn" id="surName" class="form-control" value="{{user?.surname}}" disabled/>
            </div>
          </div>
          <div class="form-group">
            <label for="eMail">
              E-mail
            </label>
            <div class="input-group">
              <input type="text" placeholder="E-mail" id="eMail" class="form-control" value="{{user?.email}}" disabled/>
            </div>
          </div>
          <div class="form-group">
            <label for="phone">
              Telefonnummer
            </label>
            <div class="input-group">
              <input type="text" placeholder="Telefonnummer" id="phone" class="form-control" value="{{user?.phone}}" disabled/>
            </div>
          </div>
          <div class="form-group">
            <label for="birthday">
              Fødselsdag
            </label>
            <div class="input-group">
              <input type="text" placeholder="Ikke opgivet" id="birthday" class="form-control" value="{{user?.birthdate}}" disabled/>
            </div>
          </div>
          <div class="form-group">
            <label for="role">
              Roller
            </label>
            <div class="input-group">
              <input type="text" placeholder="Rolle" id="role" class="form-control" value="{{user?.UserRoles}}" disabled/>
            </div>
          </div>
        </div>
    </div>
    </div>
