<div class="row">
  <div class="clo-lg-6">
    <div class="card">
      <div class="card-header">
        Detaljer omkring bruger
        <div class="card-header">
          <div class="card-body">
            <div class="form-group">
              <label for="username">
                Brugernavn
              </label>
              <div class="input-group">
                <input class="form-control" id="username" placeholder="Navn" type="text" value="{{user?.username}}"/>
              </div>
            </div>
            <div class="form-group">
              <label for="name">
                Fornavn
              </label>
              <div class="input-group">
                <input class="form-control" id="name" placeholder="Navn" type="text" value="{{this.user?.name}}"/>
              </div>
            </div>
            <div class="form-group">
              <label for="surName">
                Efternavn
              </label>
              <div class="input-group">
                <input class="form-control" id="surName" placeholder="Navn" type="text" value="{{this.user?.surname}}"/>
              </div>
            </div>
            <div class="form-group">
              <label for="eMail">
                E-mail
              </label>
              <div class="input-group">
                <input class="form-control" id="eMail" placeholder="E-mail" type="text" value="{{user?.email}}"/>
              </div>
            </div>
            <div class="form-group">
              <label for="phone">
                Telefonnummer
              </label>
              <div class="input-group">
                <input class="form-control" id="phone" placeholder="Phone number" type="text" value="{{user?.phone}}"/>
              </div>
            </div>
            <div class="form-group">
              <label for="birthday">
                Fødselsdag
              </label>
              <div class="input-group">
                <input class="form-control" id="birthday" placeholder="Ikke opgivet" type="text"
                       value="{{user?.birthdate}}"/>
              </div>
            </div>
            <div class="form-group">
              <label for="role">
                Rolle
              </label>
              <div class="input-group">
                <input class="form-control" id="role" placeholder="Rolle" type="text" value="{{user?.UserRoles}}"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button (click)="goToUserTable()" type="button">
        Tilbage
      </button>
