<div class="card">
    <div class="nb-card-header">
      Ansatte
    </div>

    <div class="col-lg-2">
      <button type="btn btn-success input-group-text" (click)="toggleInactiveUsers()"> 
        <div *ngIf="showInactive; then ifActiveUsers else ifInactiveUsers">
        </div>
      </button>
    </div>

    <div class="card-body">
      <ng2-smart-table [settings]="settings" [source]="source" (delete)="deactivateUser($event)" (create)="createUser($event)" (edit)="editUser($event)">
      </ng2-smart-table>
    </div>
  </div>
  <ng-template #ifActiveUsers > Vis kun aktive</ng-template>
  <ng-template #ifInactiveUsers > Vis også inaktive brugere</ng-template>