<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        Rediger mængdeenhed
      </div>
      <div class="card-body">
        <label for="useredit"> Navn </label>
        <div class="input-group">
          <input type="text" placeholder="Navn" id="unitType" class="form-control" value="{{ unitType?.name }}"
                 [(ngModel)]="unitType.name" />
          <div class="input-group-append">
            <button type="button" class="btn btn-success" (click)="Save()">
              Opdater
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>