<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">Ny mængdeenhed</div>
      <div class="card-body">
        <div class="form-group">
          <label for="name">Navn på mængdeenhed</label>
          <div class="input-group">
            <input
              [(ngModel)]="unitType.name"
              class="form-control"
              placeholder="Navn"
              type="text"
            />
          </div>
        </div>

        <button (click)="addUnitType()" class="btn btn-success btn-rectangle input-group-text" type="button">
          Tilføj mængdeenhed
        </button>
      </div>
    </div>
  </div>
</div>
